.InfoSideBar h3 {
  font-family: "Sysfont", serif;
  font-size: 2.2rem;
  line-height: 1;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.InfoSideBar ul {
  font-size: 1.1rem;
  padding-left: 1rem;
}

.InfoSideBar li {
  margin-bottom: 0.25rem;
}

.InfoSideBar ul button:hover {
  text-decoration: underline;
}
