.menuBar {

  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 1rem;
  list-style: none;
  height: 35px;
  font-family: 'SysFont', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.06rem;

  background-color: #DDDDDD;
  border: 1px solid white;
  border-bottom: 2px solid black;

  box-shadow: 
    inset 0 -2px 0 0 #B8B8B8,
    inset 1px 1px 0 0 rgba(255, 255, 255, 0.6);

  position: relative;
  overflow: hidden;

  clip-path: polygon(
    0% 100%,
    100% 100%,
    100% 10px,
    calc(100% - 2px) 10px,
    calc(100% - 2px) 6px,
    calc(100% - 4px) 6px,
    calc(100% - 4px) 4px,
    calc(100% - 6px) 4px,
    calc(100% - 6px) 2px,
    calc(100% - 10px) 2px,
    calc(100% - 10px) 0px,
    10px 0px,
    10px 2px,
    6px 2px,
    6px 4px,
    4px 4px,
    4px 6px,
    2px 6px,
    2px 10px,
    0px 10px
  );
}

.menuBar li {
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
  padding: 0 0.8rem;
  height: 100%;
}

.menuBar li:hover {
  background-color: #5454B3;
  color: white;
  box-shadow: inset 0 -2px 0 0 #0000A5;
  position: relative;
  z-index: 1;
}

.menuBar li:first-child {
    align-items: center;
}

.logoImg {
  width: 1.3rem;
  height: 1.4rem;
  object-fit: contain;
}
