.menuBarWrapper {
  position: relative;
  z-index: 2000;
  pointer-events: auto;
  user-select: none;
}

.menuBar {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 1rem;
  list-style: none;
  height: 35px;
  font-family: "SysFont", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.06rem;

  background-color: #dddddd;
  border: 1px solid white;
  border-bottom: 2px solid black;

  box-shadow:
    inset 0 -2px 0 0 #b8b8b8,
    inset 1px 1px 0 0 rgba(255, 255, 255, 0.6);

  position: relative;
  overflow: visible;
}

.menuBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dddddd;
  clip-path: polygon(
    0% 100%,
    100% 100%,
    100% 10px,
    calc(100% - 2px) 10px,
    calc(100% - 2px) 6px,
    calc(100% - 4px) 6px,
    calc(100% - 4px) 4px,
    calc(100% - 6px) 4px,
    calc(100% - 6px) 2px,
    calc(100% - 10px) 2px,
    calc(100% - 10px) 0px,
    10px 0px,
    10px 2px,
    6px 2px,
    6px 4px,
    4px 4px,
    4px 6px,
    2px 6px,
    2px 10px,
    0px 10px
  );
  z-index: -1;
  pointer-events: none;
}

.menuBar li {
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
  padding: 0 0.8rem;
  height: 100%;
}

.menuBar li:hover {
  background-color: #5454b3;
  color: white;
  box-shadow: inset 0 -2px 0 0 #0000a5;
  position: relative;
  z-index: 1;
}

.menuItem {
  position: relative;
  cursor: pointer;
  z-index: 10;
}

.menuItem:hover {
  z-index: 11;
}

.menuItemOpen {
  background-color: #5454b3;
  color: white;
  box-shadow: inset 0 -2px 0 0 #0000a5;
  position: relative;
  z-index: 1;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  list-style: none;
  background-color: #e7e7e7;
  min-width: 180px;
  z-index: 10000;
  font-size: 1.2rem;
  clip-path: none;
  outline: 2px solid black;
  outline-offset: -2px;
  border-top: 4px solid white;
  border-right: 4px solid #b3b3b3;
  border-left: 4px solid white;
  border-bottom: 4px solid #b3b3b3;
  box-shadow: 2px 3px 0 rgb(0, 0, 0);
}

.dropdown li {
  padding: 0.3rem 1.5rem;
  height: auto;
  justify-content: flex-start;
  color: black;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #5454b3;
  color: white;
  box-shadow: inset 0 -1px 0 0 #0000a5;
}

.menuBar li:first-child {
  align-items: center;
}

.logoImg {
  width: 1.3rem;
  height: 1.4rem;
  object-fit: contain;
}
